.about-container{
  display: flex;
  background-color: white;
  color: black;
  height: 70vh;
  padding: 100px 0 100px 0;
}

.about-container__desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 100px 0 100px;
}

.about-container__desc > h3 {
  margin-bottom: 30px;
  font-size: 2.8rem;
}

.about-container__desc > p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.about-container__img{
  width: 45%;
  height: 300px;
  margin-top: 50px;
  display: flex;
  align-self: center;
  justify-content: center;
  overflow: hidden;
}

@media only screen and (max-width: 960px) {
  .about-container {
    flex-direction: column;
    padding: 0;
    height: auto;
  }

  .about-container__desc{
    width: 90%;
    margin: 0 auto;
    padding: 40px 20px 50px 20px;
  }

  .about-container__desc > h3 {
    font-size: 2rem;
    text-align: center;
  }

  .about-container__img{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .about-container__img > img {
    max-width: 400px;
  }
}