.navbar-container{
  position: fixed; /*para que quede fija*/
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 80px;
  padding-left: 50px;
  font-size: 2rem;
  z-index: 1; /*para que este por encima del cover*/
}

/*Esta clase se activa si el scroll es > 20, o sea se movio algo*/
.scrolling {
  background-color: black;
  transition: all 1s ease;
}

.navbar-container__logo {
  height: 80px;
  line-height: 80px;
  color: white;
  cursor: pointer;
}