.carousel-container{
  display: flex;
  vertical-align: center;
  align-items: center;
  background-color: black;
  padding: 30px 0 30px 0;
}

.carousel-container__title{
  color: white;
  width: 40%;
  text-align: center;
  font-size: 3rem;
  padding: 0 100px 0 100px;
}

.slide-container{
  height: 70%;
  border-radius: 40px;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.slide-container  img {
  object-fit: cover; /*se adapta al conteiner*/
  transition: all 0.2s ease-in-out;
}

.slide-container:hover  img {
  transform: scale(0.9); 
  opacity: 0.7;
}

.slide-container__desc{
  background-color: black;
  position: absolute;
  border: 5px solid black;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  opacity: 0.8;
}

.slide-container__desc button{
  background-color: rgb(226, 224, 224);
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2rem;
  color: black;
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
}
.icon-button{
  border-radius: 30px;
  border: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.icon-button:hover{
  transform: scale(1.2); 
  opacity: 1;
  background-color: white;
}

.slide-container__desc button:hover{
  transform: scale(1.2); 
  opacity: 1;
  background-color: white;
}

.BrainhubCarouselItem BrainhubCarouselItem--active{
  margin: 0 10px;
}

.slide-container__desc > span {
  color: white;
  display: block;
  font-size: 2.2rem;
  padding: 20px 0 20px 10px;
}

.BrainhubCarousel__arrows {
  background-color: white;
  border-radius: 50%;
  margin: 20px;
}

.icon-button > span {
  border-color: black;
}

.icon-button button:hover{
  background-color: white !important;
}

.icon-button:hover > span {
  border-color: black !important;
}

@media only screen and (max-width: 960px){
  .carousel-container {
    flex-direction: column;
  }

  .carousel-container__title{
    width: 100%;
    text-align: center;
    padding: 50px 0 50px 0;
  }

  .slide-container{
    max-width: 300px;
  }
}